/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.85);
  
}

.genero-container {
  margin: 60px 20px 120px 20px;
  /* arriba, derecha, abajo, izquierda */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  
  
}




h1{
 color: red;
 


}


h2 {
   width: 250px;
   background-color: red;
   font-size: 1.5rem;
   margin-bottom: 10px;
   
}



h2:hover , h3:hover{


  background-color: maroon;
  color: white;
  font-weight: bold;
  opacity: 1;


}

h3:hover{

  background-image: url("./img/ico.png");
  background-position:bottom center;


}


h3{
    
    
    width: 150px;
    word-wrap: break-word;
    align-items: start;
    min-height: 80px; /* altura mínima para que no "salten" */
    
}

